---
- name: Gather facts
  ansible.builtin.setup: {}
  when: ansible_facts is not defined or ansible_facts.date_time is not defined

- name: Check required inputs
  ansible.builtin.assert:
    that:
      - health_check_report_site_code is defined
      - health_check_report_state == 'present' or health_check_report_state == 'absent'

- name: Check required inputs for present state
  ansible.builtin.assert:
    that:
      - health_check_report_site_code is defined
  when: health_check_report_state == 'present'

- name: Check required inputs for email functionality
  ansible.builtin.assert:
    that:
      - health_check_report_email_to is defined
      - health_check_report_email_from is defined
      - health_check_report_email_smtp_host is defined
    msg: "Email variables must be defined when health_check_report_send_email is true"
  when: 
    - health_check_report_state == 'present'
    - health_check_report_send_email

- name: Include tasks
  ansible.builtin.include_tasks: "{{ health_check_report_state }}.yml"