---
- name: Gather facts
  ansible.builtin.setup: {}
  when: ansible_facts is not defined or ansible_facts.date_time is not defined

- name: Check required inputs
  ansible.builtin.assert:
    that:
      - patch_and_reboot_state == 'present' or patch_and_reboot_state == 'absent'


- name: Check required inputs for email functionality
  ansible.builtin.assert:
    that:
      - patch_and_reboot_email_to is defined
      - patch_and_reboot_email_from is defined
      - patch_and_reboot_email_smtp_host is defined
    msg: "Email variables must be defined when patch_and_reboot_send_email is true"
  when:
    - patch_and_reboot_state == 'present'
    - patch_and_reboot_send_email

- name: Include tasks
  ansible.builtin.include_tasks: "{{ patch_and_reboot_state }}.yml"
